<header>
    <a href="#"
      > <img class="img-fluid" src="../../../assets/layout/images/logo.png" alt="Logo" width="100" ></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a routerLink ="/"  class="nav-item" style="--i: 0">Home</a>
      <a  routerLink="/about" class="nav-item" style="--i: 0">About us</a>
      <a   routerLink="/contact"  class="nav-item" style="--i: 1">Contact us</a>
        <a class="nav-item" routerLink="/services" style="--i: 2">Services</a>

    </nav>

  </header>


