<header>
    <a href="#"
      > <img class="img-fluid" src="../../../assets/layout/images/FINAL_LOGO_page-0001-removebg-preview.png" alt="Logo" width="90" ></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a routerLink ="/"  class="nav-item" style="--i: 0">Home</a>
      <a  routerLink="/about" class="nav-item" style="--i: 1">About us</a>
      <a   routerLink="/contact-us"  class="nav-item" style="--i: 2">Contact us</a>
     
    </nav>
    
  </header>

  
