    
<div class="nav-bar">
    <app-navbar></app-navbar>
  </div>
  <section class="1">
    <section class="parallax">
        <div class="parallax-inner">
         

        </div>
    </section>
    
    <div class="container">
        <div class="row my-6">
            <div class="col-md-8">
                <h3 class="primary-text-color">About HPTS</h3>
                <p class="lead">We specialize in delivering
                    personalized care directly to
                    patient’s home with our
                    comprehensive in-home therapy
                    services. Our team of experts are
                    committed to making the
                    healthcare experience convenient
                    and tailored is to each patient’s
                    individual needs.</p>
                    <h3 class="primary-text-color">Hassle Free treatment </h3>
             <p class="lead">We allow patients to skip the hassle
                of traveling to a clinic and enjoy the
                comfort of receiving top-notch
                therapy services in the comfort
                their own home.</p>
               
            </div>
            <div class="col-md-4">
                <h3 class="mt-2">Schedule Appointment</h3>
                <div>
                    We can meet you at your home, office, gym, park, or wherever you choose.  We bring all of the equipment needed to help you to achieve your goals!
                </div>
                <div class="schedule-btn">
                    <button type="button" class="btn btn-primary">Schedule Now</button>
                </div>
            </div>
        </div>
    </div>
    </section>
    


<section class="2">
    
    
    <section class="parallax-2">
        <div class="parallax-inner">
           
        </div>
        <div class="footer-container foot">
            <app-footer></app-footer>
        </div>
    </section>
    

</section>
  
  