<div class="nav-bar">
    <app-navbar></app-navbar>
  </div>
  <section class="1">
    <section class="parallax">
      <div class="parallax-inner"></div>
    </section>
    <div class="container-fluid">
  
        <div class="row" >
          <div class="col-md-12 col-12 mt-3 mb-2 " >
            <p-card >
              <ng-template pTemplate="header">
                  <div class="header-div">Privacy Notice</div>
                </ng-template>
              <p class="fnt-size">Text Input value </p>
            </p-card>
          </div>
        </div>
    </div>
    
    
  </section>
  <section class="2">
    <section class="parallax-2">
      <div class="parallax-inner"></div>
      <div class="footer-container foot">
        <app-footer></app-footer>
      </div>
    </section>
  </section>
  