<div class="nav-bar">
  <app-navbar></app-navbar>
</div>
<section class="1">
  <section class="parallax">
    <div class="parallax-inner">
      <div class="Index-page-content">
        <div class="therapy-details">
          <h1 class="primary-color"
            >HYLIC PHYSICAL THERAPY, APC.</h1>
            <div class="schedule-btn">
                
                <button type="button" class="btn btn-primary" (click)="redirectToPage()">Contact Us</button>
              </div>
            
           <h4 class="primary-color">

               PATIENT-CENTERED IN-HOME REHABILITATION
           </h4>

        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row my-6 mx-4">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="image-container">
              <img class="img-fluid" src="../../assets/layout/images/elder-woman-covid-recovery-doing-physical-exercises-with-dumbbell-nurse.jpg" alt="Logo" />
            </div>
          </div>
          
      <div class="col-md-8">
        <h3>We listen. We Care. We get results!</h3>
        <p class="lead">One on One Care With a Licensed Therapist</p>

        <p class="fs-5 text">
          With our patient-centered at-home therapy, we focus on providing
          personalized and comprehensive care tailored to the unique needs of
          each patient. We provide treatment in the comfort of the patient's
          home, making therapy more accessible and convenient. We achieve
          measurable results that enhance the patient's overall well-being and
          functional abilities. Through targeted exercises, education, and
          ongoing support, we empower patients to regain control over their
          health and quality of life.
        </p>
        <h4>Professional Teams</h4>
        <p class="fs-5 text">
          Beyond traditional therapy, we prioritize empowering our patients with
          at-home exercises that accelerate the healing process. Our therapists
          work collaboratively with patients, teaching them effective exercises
          that can be seamlessly integrated into their daily lives.
        </p>
        <h4>Hassle-free Treatment</h4>
        <p class="fs-5 text">
          We allow patients to skip the hassle of traveling to a clinic and
          enjoy the comfort of receiving top-notch therapy services in the
          comfort of their own homes.
        </p>
        <div class="schedule-btn">
          <br /><br />
          <button type="button" class="btn btn-primary" (click)="redirectToPage()">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="parallax-1">
  <div class="parallax-inner"></div>
</section>

<section class="2">
  <app-testimonial></app-testimonial>

  <section class="parallax-2">
    <div class="parallax-inner"></div>
    <div class="footer-container foot">
      <app-footer></app-footer>
    </div>
  </section>
</section>
