<div class="nav-bar">
    <app-navbar></app-navbar>
  </div>
  
<!-- Update your HTML to apply the hero-container class -->

<div class="hero-container" id="hero-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col align-middle">
          <!-- <div class="px-2 py-2">
            <img src="../../assets/layout/images/doctor-with-patient-physiotherapy-clinic.jpg" class="img-fluid" alt="...">
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
 
  
  <!-- Testimonials container -->
  <div class="testimonials-container mt-4 mb-4" id="testi">
    <div class="container-fluid">
      <app-testimonial></app-testimonial>
    </div>
  </div>
  
  <!-- Footer -->
  <div class="footer-container foot">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>
  </div>
  


<section>
    <div id="parallax" class="parallax-item">
      <h2>YOUR TIME </h2>
      <h2>YOUR PLACE </h2>
      <h2>OUR THERAPIST </h2>
    </div>
    <div class="parallax-item">
      <h2>Div 2</h2>
    </div>
    <div class="parallax-item" id="testi">
      <h2> <app-testimonial></app-testimonial></h2>
    </div>
    <div class="parallax-item">
      <h2> <app-footer></app-footer></h2>
    </div>
  </section>