    
<div class="nav-bar">
    <app-navbar></app-navbar>
  </div>
  <section class="1">
    <section class="parallax">
        <div class="parallax-inner">
            <div class="Index-page-content">
                <div class="image-text">
                    <strong>Your time</strong><br>
                    <strong>Your place</strong><br>
                    <strong>Our Therapists</strong>
                </div>
                <ul class="therapy-list">
                    <li><strong>Physical Therapy </strong></li>
                    <li><strong> Occupational Therapy</strong></li>
                    <li><strong> Speech Therapy</strong> </li>
                </ul>
                <div class="therapy-details">
                    <strong>ALL OF OUR THERAPISTS ARE LICENSED<br>
                        TRAINED, AND READY TO GET YOU BACK TO FULL FUNCTIONALITY
                    </strong>
                </div>

                <div class="schedule-btn">
                    <button type="button" class="btn btn-primary">Schedule Now</button>
                </div>
            </div>

        </div>
    </section>
    
    <div class="container">
        <div class="row my-6">
            <div class="col-md-8">
                <h3>We listen. We Care. We get results!</h3>
                <p class="lead">One on One Care With a Licensed Therapist</p>
                <ul class="therapy-list fnt-size list-unstyled">
                    <li class="icon-physical"><strong>Physical Therapy</strong></li>
                    <li class="icon-occupational"><strong>Occupational Therapy</strong></li>
                    <li class="icon-speech"><strong>Speech Therapy</strong></li>
                </ul>
                <p>With our patient-centered at-home therapy, we focus on providing personalized and comprehensive care tailored to the unique needs of each patient. We provide treatment in the comfort of the patient's home, making therapy more accessible and convenient. We achieve measurable results that enhance the patient's overall well-being and functional abilities. Through targeted exercises, education, and ongoing support, we empower patients to regain control over their health and quality of life. 
                </p>
               
            </div>
            <div class="col-md-4">
                <h3 class="mt-2">Schedule Appointment</h3>
                <div>
                    We can meet you at your home, office, gym, park, or wherever you choose.  We bring all of the equipment needed to help you to achieve your goals!
                </div>
                <div class="schedule-btn">
                    <button type="button" class="btn btn-primary">Schedule Now</button>
                </div>
            </div>
        </div>
    </div>
    </section>
    
<section class="parallax-1">
    <div class="parallax-inner">
    </div>
</section>

<section class="2">
    <app-testimonial></app-testimonial>
    
    <section class="parallax-2">
        <div class="parallax-inner">
           
        </div>
        <div class="footer-container foot">
            <app-footer></app-footer>
        </div>
    </section>
    

</section>
  
  