

 
  
  html {
    scroll-behavior: smooth;
  }


 
.parallax{
    background: url('../../assets/layout/images/pexels-cottonbro-studio-3957987.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-1{
    background: url('../../assets/layout/images/pexels-yan-krukau-5794048.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-2{
    background: url('../../assets/layout/images/pexels-cup-of-couple-6177639.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-inner{
    padding-top: 20%;
    padding-bottom: 20%;
}


/*text on image */



.image-text {
    position: absolute;
    top: 30%;
    right: 20%;
    transform: translate(-50%, -50%);
    color: #e96928;
    font-size: 50px;
    font-weight: 300;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(1,50,129,255);
}

.therapy-list {
    position: absolute;
    top: 50%;
    left: 50%; /* Adjust left position as needed */
    transform: translateY(-50%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #e96928;
    text-shadow: 2px 2px 4px rgba(1,50,129,255);
}

.therapy-list li {
    display: inline;
    margin: 0 10px;
}

.therapy-details {
    position: absolute;
    top: 55%;
    left: 67%; /* Adjust left position as needed */
    transform: translateX(-50%);
    color: #e96928;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(1,50,129,255);
}



@media screen and (max-width: 768px) {
    .image-text {
        font-size: 20px;
    }

    .therapy-list li {
        margin: 0 5px;
    }

    .therapy-details {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .image-text {
        font-size: 18px;
    }

    .therapy-list li {
        margin: 0 3px;
    }

    .therapy-details {
        font-size: 14px;
    }
}






