    
<div class="nav-bar">
    <app-navbar></app-navbar>
  </div>
  <section class="1">
    <section class="parallax">
        <div class="parallax-inner">
            <div class="image-text">
                <strong>Your time</strong><br>
                <strong>Your place</strong><br>
                <strong>Our Therapists</strong>
            </div>
            <ul class="therapy-list">
                <li> <strong>Physical Therapy </strong></li>
                <li><strong> Occupational Therapy</strong>  </li>
                <li><strong> Speech Therapy</strong> </li>
            </ul>
            <div class="therapy-details">
                <strong>ALL OF OUR THERAPISTS ARE LICENSED, TRAINED, AND READY TO GET YOU BACK TO FULL FUNCTIONALITY</strong>
            </div>
       
        </div>
    </section>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Mobile Therapy Services | San Diego, CA</h3>
                <p class="lead">One on One Care With a Licensed Therapist</p>
                <ul class="list-unstyled">
                    <li><strong>Physical Therapy</strong></li>
                    <li><strong>Occupational Therapy</strong></li>
                    <li><strong>Speech Therapy</strong></li>
                </ul>
                <p>Our mission is simple: To provide top quality one on one care that accommodates your schedule.</p>
                <p>We believe that the health of your body is of the highest priority and our passion for your wellbeing will always be reflected in the care you receive. Your one on one evaluation and treatment will always be provided by a therapist that is fully trained and licensed in your state. You will never receive treatment from a technician or an aide. In fact, we do not hire techs or aides. We are here 100% for you.</p>
            </div>
            <div class="col-md-6">
                <h3>Schedule Appointment</h3>
                <div>
                    We can meet you at your home, office, gym, park, or wherever you choose.  We bring all of the equipment needed to help you to achieve your goals!
                </div>
            </div>
        </div>
    </div>
    </section>
    
<section class="parallax-1">
    <div class="parallax-inner">
    </div>
</section>

<section class="2">
    <app-testimonial></app-testimonial>
    
    <section class="parallax-2">
        <div class="parallax-inner">
           
        </div>
        <div class="footer-container foot">
            <div class="container-fluid">
            <app-footer></app-footer>
            </div>
        </div>
    </section>
    

</section>
  
  